.destination-border{
    border-top: 1px solid rgb(196, 194, 194);
}
.font-weight{
    font-weight: 500;
}
.destination-info input[type="text"]{
    font-weight: 500;
    color: black;
}

input[type="text"]::placeholder{
    font-weight: 400;
}
.label{
    color: gray;
}
.destinationDetails{
    background-color: #f7f4f4;
    padding: 20px;
    border-radius: 10px;
}
.destination-location{
    background-color: rgb(209, 94, 48);
    color: white;
    font-weight: 500;
    padding: 25px;
    border-radius: 10px;
}
.destination-location h5{
    font-size: 18px;
    margin-left: 1rem;
}
.destination-rider{
    background-color: white;
}
.destination-rider{
    padding: 15px;
    border-radius: 5px;
}
.rider-img,
.userIcon,
.riderPrice{
    display: flex;
    align-items: center;
}
