.main{
    background-image: url(../../images/background-2.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cards-info{
    margin-top: 6rem;
}

@media only screen and (min-width: 668px){
    .main{
        height: 100vh;
    }
}

